@CHARSET "UTF-8";
.button_1{
	padding: 5px 30px 5px;
	margin: 0 2px;
	background-color: #1ABC9C; 
	color:white;
}

.button_2{
	padding: 5px 30px 5px;
	margin: 0 2px;
	background-color: #ff7900; 
	color:white;
}

.button_3{
	padding: 5px 30px 5px;
	margin: 0 2px;
	background-color: #d9534f; 
	color:white;
}