<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 全局缓存初始化服务 -->
	<bean id="globalCache" class="com.glogs.init.cache.GlobalCache">
		<property name="cacheInit">
			<list>
				<bean id="bTag" class="com.glogs.init.cache.inter.impl.BTagInitImpl"></bean>
				<bean id="hotBlog" class="com.glogs.init.cache.inter.impl.HotBlogInitImpl"></bean>
				<bean id="dischargedRequest" class="com.glogs.init.cache.inter.impl.DischargedRequestInitImpl"></bean>
			</list>
		</property>
	</bean>

	<!-- 静态页面生成服务 -->
	<bean id="blogStatic" class="com.generate.BlogStatic"></bean>
	
	<!-- 定时任务服务 -->
	<bean id="core_taskHandle" parent="comon_task_taskHandle" depends-on="propertiesConfigurer" singleton="true">
		<property name="jobs">
			<set>
				<!-- <ref bean="checkNumTask" /> -->
			</set>
		</property>
		<property name="propertiesSource" ref="propertiesConfigurer" />
	</bean>
	
	<!-- 博客点击量,定时更新数据库服务 
	<bean id="checkNumTask" class="com.glogs.runservice.checknum.CheckNumTask">
		<property name="auto" value="true" />
		<property name="group" value="sys" />
		<property name="name" value="checkNum" />
		<property name="priority" value="2" />
		<property name="cron" value="*/10 * * * * ?" />
		<property name="delay" value="1" />
	</bean>-->
	

	<!-- DB数据库服务 -->
	<bean id="blogServiceImpl" class="com.glogs.service.blog.impl.BolgServiceImpl"></bean>
	
</beans>